body

{

	background-color: #FFE4E1;

}

h1

{

	font-size:1.4em;

	color: #06657a;

}

a

{

	color: #008000;

}

th

{

	padding-right: 5px;

	text-align: left;

	background-color: #6B8E23;

	color: #000000;

}

td

{

	padding-right: 5px;

	text-align: left;

	background-color: #FFDAB9;

	color: #000000;

}
